@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
*,
* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  border: none;
  color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar,
* *::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb,
* *::-webkit-scrollbar-thumb {
  height: 20vh;
  width: 20vw;
  border-radius: 50px;
  background-color: #2196f3;
}

*::-webkit-scrollbar-thumb:hover,
* *::-webkit-scrollbar-thumb:hover {
  background-color: #f03d30;
}

html {
  scroll-behavior: smooth;
}

.top-nav__container__title {
  font-family: "Lobster Two", cursive;
}

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80%;
  background-color: #222222;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.side-nav.show {
  transform: translateX(0);
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  padding: 10px;
  background-color: #222222;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.top-nav .top-nav__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.top-nav .top-nav__container__icon {
  height: 35px;
  width: 35px;
  background-image:  url("../assets/icons/menu.svg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: initial;
  cursor: pointer;
}

.top-nav .top-nav__container__title {
  margin-left: 20px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2px;
}

.home__container__title {
  font-family: "Permanent Marker", cursive;
}

.home__container__subTitle {
  font-family: "Permanent Marker", cursive;
}

.home__container__subTitle__animatedText {
  font-family: "Josefin Sans", sans-serif;
}

.home {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 0;
  background-image:  url("../assets/images/home_pc.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .home {
    background-image:  url("../assets/images/home.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.home .home__container {
  position: relative;
  margin-top: 70px;
  margin-left: 20px;
}

.home .home__container * {
  letter-spacing: 2px;
  word-spacing: 5px;
  color: #222222;
}

.home .home__container__title {
  font-size: 70px;
}

.home .home__container__subTitle {
  position: relative;
  font-size: 40px;
  font-weight: 600;
}

.home .home__container__subTitle__animatedText {
  color: #777777;
  font-weight: 900;
}
/*# sourceMappingURL=main.css.map */