$red: #f03d30;
$red_two: #f0003c;
$blue: #2196f3;
$blue_two: dodgerblue;
$green: #68bd33;
$green_two: mediumseagreen;
$yellow: #ffee00;
$yellow_two: #ff8000;
$white: #f5f5f5;
$light: #cccccc;
$black: #222222;
$grey: #777777;
$purple: #b71cff;
$purple_two: rebeccapurple;
$box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
$box-shadow_two: -2px -2px 6px rgba(255, 255, 255, 0.01), 2px 2px 6px rgba(0, 0, 0, 0.8);
$fontWeigths: (
    thinnest: 100,
    thinner: 200,
    thin: 300,
    regular: 400,
    normal: 500,
    medium: 600,
    bold: 700,
    bolder: 800,
    boldest: 900
);